/********Général**********/
.main-container {
    width: 100%;
    max-width: 375px;
    box-sizing: border-box;
}
/*******HEADER********/
.logo > img {
    width: 170px;
    margin-top: 14px;
    margin-left: 65px;
    margin-bottom: 8px;
}
.logo > .fa-arrow-left{
    margin-left: 15px;
    size: 20px;
}
.logo > a{
    color: #353535;
}
.logo{
    display: flex;
    align-items: center;
    font-size: 22px;
}
.picture > img{
    width: 100%;
    height: 300px;
}
/********MAIN********/
main {
    background-color: #F6F6F6;
    position: relative;
    border-radius: 40px 40px 0px 0px;
    margin-top: -70px;
}
.title1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title1 > h1 {
    font-size: 25px;
    font-family: 'Shrikhand';
    font-style: italic;
    font-weight: 400;
    padding-left: 15px;
    margin-bottom: 0px;
}
.title1 > .fa-heart {
    font-size: 25px;
    padding-right: 25px;
    margin-top: 12px;
}
.entree {
    margin-left: 15px;
    padding-right: 302px;
}
.entree > h2 {
    font-family: 'Roboto';
    font-size: 17px;
    font-weight: 300;
    border-bottom: 3px solid #99E2D0;
    padding-bottom: 5px;
    padding-top: 25px;
}
.cardcontent {
    border-radius: 16px;
    background-color: white;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 12px;
    padding: 0px 15px 0px 15px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.1)
}
.title2 > h3 {
    font-size: 18px;
    font-family: 'Roboto';
    padding-top: 10px;
    margin-bottom: -8px;
}
.description {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.description > .title3 {
    font-size: 14px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
}
.description > .price {
    font-size: 15px;
    font-weight: 700;
}
/********BUTTON******/
.button {
    border-radius: 25px;
    background: linear-gradient(#FF79DA,#9356DC);
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
    box-shadow:0px 4px 10px rgba(0,0,0,0.25);
}
.button:hover {
    opacity: 0.8;
    box-shadow:0px 4px 15px rgba(0,0,0,0.35) ;
}
nav {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    padding-bottom: 40px;
}
/********FOOTER********/
footer{
    background-color: #353535;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    font-family: 'Roboto';
}
.pied-de-page{
    margin-left: 25px;
}
.title3{
    font-family: 'Shrikhand';
    font-style: italic;
    font-size: 20px;
    font-weight: 400;
    margin-top: -20px;
    margin-bottom: -20px;
}
.proposer,.devenir{
    display: flex;
    align-items: center;
    margin-bottom: -20px;
}
.proposer>p{
    margin-left: 13px;
}
.devenir>p{
    margin-left: 10px;
}
.mention{
    margin-bottom: -2px;
}